.etsy {
	border-radius: 2px;
	background-image: (linear-gradient(to bottom right, #df7419, #c03e0a));

	width: 150px;
	text-align: center;
	padding: 12px 0;
	margin: 12px;
	font-weight: 100;

	font-family: Alegreya;
	color: white;
	text-shadow: 0 1px 0 rgba(black, .7);
	font-size: .6em;
	box-shadow: 0 1px 1px rgba(grey, .6);
}
