.etsy {
	border-radius: 6px;
	background-image: (linear-gradient(to bottom right, #df7419, #c03e0a));

	width: 150px;
	text-align: center;
	padding: 8px 0;
	margin: 12px;
	font-weight: 100;

	font-family: sans-serif;
	color: white;
	font-size: .6em;
	box-shadow: 0 .5rem 1rem rgba(black, .25);
	border: none;
}
