.main-nav {
	display: flex;
	justify-content: space-between;
	background-color: $nadeshiko-pink;
	color: white;
	padding: 1rem;
	&__title {
		line-height: 2;
	}
	&__links {
		display: flex;

		&--button {
			list-style: none;
			padding: .5rem 1rem;
		}
	}
}
