.footer-copyright {
	font-size: 1rem;
}

.social,
.social:link,
.social:visited {
	text-decoration: none;
	color: black;
	padding: 0 .25rem;
	transition: .2s all;
	&:hover {
	transform: scale(1.1);
	}
}