.jumbotron {
	background-image: url(../../images/rainbowsplotchJpeg.jpeg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 50vh;
	position: relative;
	margin-bottom: 5rem;
	text-align: center;
	img{
		width: 90%;
		max-width: 900px;
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
	}
	.fa-chevron-down {
		position: absolute;
		bottom: 1rem;
		left: 50%;
		transform: translateY(-50%);
	}
}

.navbar-brand {
	padding-top: 10px;
}

nav .nav-item {
	padding: 0 3rem;
}

@media (min-width: 768px){
	.jumbotron{
		background-image: url(../../images/rainbowsplotchJpeg.jpeg);
	}
}
