body {
	font-family: "Raleway", sans-serif;
	font-weight: 300;
	line-height: 1.5;
	color: black;
	font-size: 2rem;
}

//icons

.fa-heart {
	font-size: 8rem;
}

.fa-medal {
	font-size: 8rem;
}

.fa-tasks {
	font-size: 8rem;
}
