/* SCSS RGB */
$nadeshiko-pink: rgba(237, 173, 199, 1);
$kobi: rgba(209, 153, 182, 1);
$opera-mauve: rgba(196, 147, 176, 1);
$glossy-grape: rgba(166, 139, 165, 1);
$black-coral: rgba(92, 93, 103, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #edadc7ff, #d199b6ff, #c493b0ff, #a68ba5ff, #5c5d67ff);
$gradient-right: linear-gradient(90deg, #edadc7ff, #d199b6ff, #c493b0ff, #a68ba5ff, #5c5d67ff);
$gradient-bottom: linear-gradient(180deg, #edadc7ff, #d199b6ff, #c493b0ff, #a68ba5ff, #5c5d67ff);
$gradient-left: linear-gradient(270deg, #edadc7ff, #d199b6ff, #c493b0ff, #a68ba5ff, #5c5d67ff);
$gradient-top-right: linear-gradient(45deg, #edadc7ff, #d199b6ff, #c493b0ff, #a68ba5ff, #5c5d67ff);
$gradient-bottom-right: linear-gradient(135deg, #edadc7ff, #d199b6ff, #c493b0ff, #a68ba5ff, #5c5d67ff);
$gradient-top-left: linear-gradient(225deg, #edadc7ff, #d199b6ff, #c493b0ff, #a68ba5ff, #5c5d67ff);
$gradient-bottom-left: linear-gradient(315deg, #edadc7ff, #d199b6ff, #c493b0ff, #a68ba5ff, #5c5d67ff);
$gradient-radial: radial-gradient(#edadc7ff, #d199b6ff, #c493b0ff, #a68ba5ff);
